/* Import Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

:root {
    font-family: 'Open Sans', system-ui, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: inherit;
    color: inherit;
    font-family: inherit;
}

a {
    font-weight: 500;
    color: #1a73e8;
    text-decoration: none;
    transition: color 0.2s;
}
a:hover,
a:focus {
    color: #1558b0;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 500;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover,
    a:focus {
        color: #1558b0;
    }
}